services:
  postgres:
      image: postgres:16-alpine
      container_name: ecom-postgres
      environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
        POSTGRES_DB: ecom
      ports:
        - "5432:5432"
      volumes:
        - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: